[submodule "third_party/benchmark"]
	path = third_party/benchmark
	url = https://github.com/google/benchmark.git
[submodule "csv-parser"]
	path = csv-parser
	url = https://github.com/vincentlaucsb/csv-parser.git
